/*
** UNTV - virtual-keyboard.css
** Author: Gordon Hall
*/

@-webkit-keyframes select_item {
  from {
    font-weight: normal;
    -webkit-transform: scale(0.9);
  }
  to {
    font-weight: bold;
    -webkit-transform: scale(1.1);
  }
}

#vkeyboard {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.3);
}

.vkeyboard-prompt {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: url('../assets/images/backgrounds/dark-texture.png') top center repeat;
  color: #fff;
  box-shadow: 0 12px 12px #000;
}

.vkeyboard-prompt p {
  margin: 18px 36px;
  font-size: 22px;
}

.vkeyboard-input {
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  height: 62px;
  margin-top: -107px;
  text-align: center;
}

.vkeyboard-value {
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  padding: 12px;
  font-size: 30px;
  width: 50%;
  color: #fff;
  outline: none;
}
  
.vkeyboard {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: url('../assets/images/backgrounds/dark-texture.png') top center repeat;
  box-shadow: 0 -12px 12px #000;
}

.vkeyboard dl {
  padding: 0;
  width: 490px;
  margin: auto;
}
  
.vkeyboard dd {
  display: inline-table;
  margin: 0;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  font-size: 24px;
  padding: 12px;
  -webkit-transform: scale(0.9);
  opacity: 0.8;
  border-radius: 40px;
  line-height: 20px;
}

.vkeyboard .focused {
  opacity: 1;
  -webkit-transform: scale(1.1);
  font-weight: bold;
  -webkit-animation: select_item .1s;
  box-shadow: inset 0 0 6px rgba(255,255,255,0.3);
  background: #fff;
  color: #000;
}

.vkeyboard .empty {
  height: 28px;
  width: 25px;
  border: none;
}

.vkeyboard .delete {
  height: 28px;
  background: url("../assets/images/icons/delete.svg") center center no-repeat;
  background-size: 24px;
}

.vkeyboard .return {
  height: 28px;
  background: url("../assets/images/icons/confirm.svg") center center no-repeat;
  background-size: 24px;
}

.vkeyboard .delete.focused {
  background: url("../assets/images/icons/delete-active.svg") center center no-repeat #fff;
  background-size: 24px;
}

.vkeyboard .return.focused {
  background: url("../assets/images/icons/confirm-active.svg") center center no-repeat #fff;
  background-size: 24px;
}

.vkeyboard .space {
  height: 28px;
}

.vkeyboard .two-wide {
  width: 48px;
  padding: 12px 24px;
}
