/*
** UNTV - tv-show-rss styles
** Author: Gordon Hall
*/

@-webkit-keyframes select_item {
  from {
    -webkit-transform: scale(0.9);
  }
  to {
    -webkit-transform: scale(1);
  }
}

#shows-menu {
  width: 20%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

#shows-menu h2,
#today-schedule h2,
#episode-list h2 {
  margin: 0;
  padding: 12px;
  text-shadow: 0 3px 5px #000;
  font-family: UbuntuCondensed;
  font-size: 34px;
}

#today-schedule,
#episode-list {
  width: 80%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
  box-shadow: inset 0 8px 22px #000;
  z-index: 8;
}

#today-schedule.loading,
#episode-list.loading {
  background-image: url("../../../assets/images/loader.gif");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 140px;
}

#today-schedule {
  background-repeat: no-repeat;
  background-position: center center; 
  background-attachment: fixed;
  background-size: cover;
}

#today-schedule .list-container {
  position: fixed;
  top: 0;
  left: 20%;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8);
}

#today-schedule .banner {
  position: fixed;
  top: 52px;
  right: -86px;
  width: 280px;
  padding: 6px 12px;
  text-align: center;
  background: linear-gradient(to bottom, #c9de96 0%,#8ab66b 44%,#398235 100%);
  font-size: 18px;
  font-weight: bold;
  text-shadow: 0 2px 4px #398235;
  -webkit-transform: rotate(45deg);
  box-shadow: 3px 0 5px #000;
}

#today-schedule .episode-list {
  top: 0 !important;
}

#episode-list {
  display: none;
  background-repeat: no-repeat;
  background-position: center center; 
  background-attachment: fixed;
  background-size: cover;
}

#episode-list .details {
  position: fixed;
  top: 0;
  left: 20%;
  right: 0;
  bottom: 50%;
  background: rgba(0,0,0,0.95);
}

#episode-list .details p {
  margin: 0 12px;
  font-size: 18px;
  line-height: 25px;
}

#episode-list .details img {
  float: left;
  margin: 0 24px;
  height: 70%;
  box-shadow: 0 0 24px #000;
}

#shows-menu ul {
  opacity: 0.75;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#shows-menu ul.navilist-focused {
  opacity: 1;
}

#shows-menu ul li {
  padding: 10px 24px;
  font-size: 28px;
  -webkit-transform: scale(0.9);
  opacity: 0.9;
  font-family: UbuntuCondensed;
  text-shadow: 2px 3px 6px #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#shows-menu ul li.navilist-selected {
  font-weight: bold;
  -webkit-transform: scale(1);
  opacity: 1;
  -webkit-animation: select_item .2s;
  background: url("../../../assets/images/tick-white.svg") left center no-repeat;
  background-size: 10px 20px;
}

.episode-list-container {
  position: fixed;
  top: 50%;
  left: 20%;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.95); 
}

.episode-list {
  list-style-type: none;
  padding: 12px 24px;
  position: fixed;
  top: 50%;
  left: 20%;
  right: 0;
  bottom: 0;
}

.episode-list li {
  padding: 8px;
  font-size: 20px;
  -webkit-transform: scale(0.9);
  opacity: 0.9;
  overflow: hidden;
}

.episode-list li.navilist-selected {
  -webkit-transform: scale(1);
  opacity: 1;
  -webkit-animation: select_item .2s;
  border-left: 3px solid #fff;
}

.episode-list li strong {
  display: block;
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-bottom: 1px dashed rgba(255,255,255,0.5);
}

.episode-list li em {
  display: block;
  float: right;
  font-style: normal;
}

.sorry {
  position: absolute;
  width: 480px;
  font-size: 22px;
  text-align: center;
  background: url("../../../assets/images/icons/sorry.svg") top center no-repeat;
  background-size: 120px;
  padding-top: 120px;
  left: 50%;
  top: 50%;
  margin: -111px 0 0 -240px;
  text-shadow: 0 2px 4px #000;
  line-height: 34px;
}
